.navbar {
    background-color: #000;
    padding: 10px;
    
  }
  
  .navbar-list {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .navbar-list li {
    margin-right: 20px;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .navbar-link:hover {
    color: #ffcc00; /* Color neon */
  }
  
  .navbar-separator {
    color: #fff;
    font-size: 18px;
    margin: 0 10px;
  }