
.waiter-header {
    background-color: #ffcc00;
    color: #333;
    padding: 20px;
}

.waiter-sidebar {
    width: 200px;
    background-color: #f9f9f9;
    padding: 20px;
}

.waiter-content {
    flex-grow: 1;
    padding: 20px;
}
