.admin-pedidos-container {
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto; /* Centrado verticalmente y con margen en los lados */
    width: 80%; /* Ancho del contenedor */
    max-width: 800px; /* Ancho máximo del contenedor */
}

.admin-pedidos-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.admin-pedidos-container ul {
    padding: 0;
}

.admin-pedidos-container ul li {
    list-style: none;
    background-color: #444; /* Fondo oscuro */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.admin-pedidos-container ul li div {
    margin-bottom: 10px;
}

.admin-pedidos-container ul li div:first-child {
    color: #ffcc00; /* Texto amarillo */
}

.admin-pedidos-container ul li div:last-child {
    color: #66ff99; /* Texto verde claro */
}

.admin-pedidos-container ul li ul {
    padding-left: 20px;
    margin-bottom: 10px;
}

.admin-pedidos-container ul li ul li {
    background-color: #555; /* Fondo oscuro */
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.admin-pedidos-container ul li ul li:hover {
    background-color: #666; /* Fondo oscuro más oscuro al pasar el ratón */
}
