.admin-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

.admin-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.admin-container form {
    margin-bottom: 20px;
}

.admin-container label {
    display: block;
    margin-bottom: 10px;
}

.admin-container input,
.admin-container select {
    width: 80%;
    padding: 8px;
    border: 1px solid #666;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #333;
    color: white
}


.admin-container button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-container button:hover {
    background-color: #666;
}

.admin-container .usuarios-list {
    list-style: none;
    padding: 0;
}

.admin-container .usuario-item {
    background-color: #444;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-container .usuario-buttons button {
    margin-left: 10px;
}